body {
    background-image: url('./imagene/descarga.jpg'); /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; /* Evitar que la imagen de fondo se repita */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    color: #000; /* Color del texto */
    background-attachment: fixed; /* Hacer que la imagen de fondo permanezca fija */
    height: 100vh; /* Asegurar que el cuerpo ocupe al menos toda la altura de la ventana del navegador */
    display: flex; /* Utilizar el modelo de caja flexible para el diseño */
    justify-content: center; /* Centrar horizontalmente el contenido */
    align-items: center; /* Centrar verticalmente el contenido */
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.login-box {
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
}

h2 {
    text-align: center;
    margin-bottom: 30px;
    color: #333;
}

.textbox {
    position: relative;
    margin-bottom: 30px;
}

.textbox input {
    width: 100%;
    padding: 10px;
    background: #f5f5f5;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.textbox label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #666;
    transition: all 0.3s ease;
}

.textbox input:focus + label,
.textbox input:valid + label {
    top: 0;
    font-size: 12px;
    color: #007bff;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}
